name: release-charts
on:
  release:
    types: [ created ]
    branches:
      - main

jobs:
  release-charts:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Create chart package
        shell: bash
        run: |
          task chart:pack
          mv youless-observer-${{ github.ref_name }}.tgz charts.tgz

      # https://github.com/marketplace/actions/upload-files-to-a-github-release
      - name: Upload to release
        id: upload-to-release
        uses: svenstaro/upload-release-action@2.9.0
        with:
          file: charts.tgz
          overwrite: true
          draft: true

      - name: Update index.yaml
        run: |
          git checkout gh-pages
          helm repo index --url https://github.com/roeldev/youless-observer/releases/download/${{ github.ref_name }} --merge index.yaml .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add index.yaml
          git commit -m "Update index.yaml"
          git push
