name: release-charts
on:
  release:

jobs:
  release-charts:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Create chart package
        shell: bash
        run: task chart:pack

      # https://github.com/marketplace/actions/upload-files-to-a-github-release
      - name: Upload to release
        id: upload-to-release
        uses: svenstaro/upload-release-action@2.9.0
        with:
          file: ./dist/youless-observer*.tgz
          file_glob: true
          overwrite: true
          draft: true

      - name: Update index.yaml
        run: |
          git stash
          git checkout gh-pages
          git stash pop
          git status
          helm repo index --url https://roeldev.github.io/youless-observer --merge index.yaml ./dist
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add index.yaml
          git commit -m "Update index.yaml"
          git push
